<div class="about-section">
    <h1>About Us </h1>
   
</div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Anmol Gangale</h2>
          <p class="title">GET</p>
          <p>I'm an enthusiastic learner</p>
          <p>Anmol.Gangale@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Ananya Saxena</h2>
          <p class="title">GET</p>
          <p>Want to see the world with magnifier.</p>
          <p>Ananya.Saxena@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Rishabh Raina</h2>
          <p class="title">GET</p>
          <p>Believe in achieving dreams</p>
          <p>Rishabh.Raina@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Aditya Rastogi</h2>
          <p class="title">GET</p>
          <p>Nothing is unreachable</p>
          <p>Aditya.Rastogi@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>